# Path to the main local directory 
# Should look like `/Users/**/visual-precision`
PROJECT_PATH= 
# Path to the main server directory (Can leave blank if not moving files to polygon)
# Should look like `/Volumes/vislearnlab/experiments/visual-precision`
SERVER_PATH=
# Path where consent videos should be stored for the IRB
CONSENT_PATH=
# Path to Conda environment with ffmpeg is installed to use in Quarto - can leave blank if not running through stimuli
CONDA_ENVIRONMENT=
# Currently can be set to either PILOT or MAIN to determine which videos, trial data and processed data to use
PROJECT_VERSION=
# Optional HuggingFace token to extract embeddings from specific models
HF_TOKEN=