.env
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/__pycache__

.Rproj.user
.RData
.RData*
.Rhistory
analysis/**html**
**/**_files

venv/

misc/

# excluding full looking time file because it's too big
data/main/processed_data/level-looks_added-metadata_data.csv

data/raw/icatcher_videos/
data/pilot/*
peekbank/*
data/raw/icatcher_annotations/
data/raw/original_videos/
data/raw/lookit/input_lookit_study.json
data/raw/lookit/subject_data.csv
data/raw/lookit/matched_gift_cards.txt
data/raw/lookit/gift_cards.csv

# excluding all figures by default
figures/**/**png

stimuli/lookit/preprocessing/older_stimuli/
stimuli/lookit/instructions/**
stimuli/lookit/audio/**

models/openclip/checkpoints/
models/multimodal/
models/silicon_menagerie/
