.env
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/__pycache__

.Rproj.user
.RData
.Rhistory

venv/

misc/


data/raw/icatcher_videos/
data/raw/icatcher_annotations/
data/raw/original_videos/
data/raw/lookit/input_lookit_study.json

stimuli/lookit/preprocessing/older_stimuli/
stimuli/lookit/instructions/**
stimuli/lookit/audio/**

models/openclip/checkpoints/
models/multimodal/
models/silicon-menagerie/